.buttonSideBar {
    position: fixed;
    top: 20px;
    /* Provides margin from the top */
    left: 20px;
    z-index: 1030;
    /* Higher than most Bootstrap elements */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}