/* Song Cards */
.container .row div .card {
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.container .row div .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container .song-card .card-img-top {
    height: 160px;
    object-fit: cover;
}